@import "styles/app.scss";


.chat-bubble {
  width: auto;
  margin: 10px 20px;
  max-width: 250px;
  @extend .border-radius-sm;
  background: #00bfb6;
  color: #fff;
  @extend .p3;
  @extend .text-left;
  @extend .text-middle;
  font-weight: 700;
  word-wrap: break-word;
  white-space:pre-line;
}

.system-msg {
  // @extend .height-auto;
  @extend .width-250;
  margin: 5px auto;
  @extend .border-radius-sm;
  @extend .bg-grey-e;
  @extend .black;
  @extend .px-2;
  @extend .py-1;
  @extend .text-center;
  @extend .text-middle;
  font-weight: 500;
  word-wrap: break-word;
  white-space:pre-line;
}

.self-msg:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #00bfb6;
  border-right: 15px solid transparent;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}



.team-msg:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #00bfb6;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}
