@import "styles/app.scss";

.background {
  width: 100vw;
  -ms-overflow-style: none;
  height: 100vh;
  background-color: #abe6e3;
  @extend .flex-column;
  @extend .flex-x-center;
  @extend .flex-y-center;
}

.mainContainer{
  max-width: 1440px;
  height: 1100px;
  width: 90vw;
  background-color: $white;
  @extend .max-height-80vh;
  @extend .border-radius;
  @extend .shadow;
  @extend .px-3;
  @extend .py-3;
}