.hoverEnlarge {
	transition: all 0.3s;
	&:hover {
		transform: scale(1.3);
	}
}
.hoverShadow {
	&:hover {
		@extend .shadow;
	}
}
.hoverBgYellow {
	&:hover {
		@extend .bg-yellow;
	}
}
.hoverBorderYellow {
	&:hover {
		@extend .border-yellow;
	}
}
.transition {
	transition: all 0.3s;
}

.blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.backdrop-filter {
  backdrop-filter: blur(2px);
}