@import "styles/app.scss";

.background {
  width: 100vw;
  -ms-overflow-style: none;
  height: 100vh;
  background-color: #abe6e3;
  @include desktop{
    padding: 45px 20px;
  }
  @extend .flex-column;
  @extend .flex-x-center;
  @extend .flex-y-center;
  @extend .overflow-scroll;
}

.meetingContainer{
  min-height:100%;
  min-width: 1025px;
  background-color: $white;
  @extend .border-radius;
  @extend .shadow;
  @extend .px-3;
  @extend .py-3;
}