@import "styles/app.scss";

.background {
  width: 100vw;
  -ms-overflow-style: none;
  height: 100vh;
  background-color: #abe6e3;
  padding: 20px;
  @extend .flex-column;
  @extend .flex-x-center;
  @extend .flex-y-center;
  @extend .overflow-scroll;
}

.mainContainer{
  min-width: 725px;
  min-height: 400px;
  max-width: 1450px;
  max-height:800px;
  background-color: $white;
  @extend .border-radius;
  @extend .shadow;
  @extend .px-3;
  @extend .py-3;
}